.banner {
  background-color: var(--peach);
  background-image: url("/svg/bg-pattern-design-pages-intro-mobile.svg");
  background-position: top;
  text-align: center;
  color: white;
  padding-block: 3rem;
  padding-inline: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .banner {
    margin-inline: 2rem;
    border-radius: 10px;
    background-image: url("/svg/bg-pattern-design-pages-intro-tablet.svg");
  }
}

@media (min-width: 1000px) {
  .banner {
    margin-inline: 7rem;
  }
  .banner h1 {
    font-size: 40px;
  }
  .banner p {
    font-size: 20px;
    margin-inline: auto;
    max-width: 20rem;
  }
}
